# Project exclude paths
/.gradle/
/common/.gradle/
/common/build/
/fabric/.gradle/
/fabric/build/
/forge/.gradle/
/forge/build/
/common/run/
/.idea/
/fabric/run/
/forge/run/
/forge/run/.architectury-transformer/
/forge/run/config/
/forge/run/crash-reports/
/forge/run/logs/
/forge/run/saves/
/fabric/run/logs/
/fabric/run/data/
/fabric/run/config/
/fabric/run/.fabric/
/fabric/run/.architectury-transformer/
/quilt/run/
/quilt/.gradle/
/quilt/build/
/build/
